.footer{
    height: 191px;
    background: #FDC8C8;
    display: flex;
    margin-top:20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links a{
    text-decoration: none;
}
.links a li:hover{
    color: black;
}
.links a li{
    list-style: none;
    color: #A78A8A;
}
.links a li,h3,.copyright{
    font-family: Salsa;
}
.links h3{
    padding-left: 40px;
}