.modalFixedBg{
    position: absolute;
    width: 1017px;
    height: 664px;
    left: 350px;
    top: 120px;
    background: #FFFFFF;
    border: 1px solid #FDC8C8;
    box-sizing: border-box;
    border-radius: 13px;
    /* background-color: rgba  */
    z-index: 12;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.modalContainer{
    /* padding: 10px; */
    background: #fff;
    border-radius: 13px;
    margin: 0 auto;
    overflow-x: hidden;
}
.modalClose{
    position: absolute;
    color: #fff;
    right: 15px;
    top: 15px;
    font-size: 20px;
    color: black;
}

/* Material Input */
.materialInput{
  height: 50px;
  /* border-bottom: 2px solid #2874f0; */
  position: relative;
  width: 513px;
  background: #FFFFFF;
  /* background-color: red; */
  margin-top: 20px;
}
.materialInput input{
  width: 100%;
  padding-left: 15px;
  flex: 1;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 13px;
  color: black;
  font-size: 18px;
  /* outline: none; */
  /* border: 1px solid #000000; */
  /* border: none; */
  z-index: 1;
  background: transparent;
  line-height: 50px;
  font-family: Salsa;
font-style: normal;
font-weight: normal;
font-size: 18px;
}
.materialInput .label{
  position: absolute;
  line-height: 30px;
  /* color: grey; */
  z-index: 0;
  font-size: 12px;
  letter-spacing: 1px;
  transition: all 0.1s ease-in-out;
}
.materialInput .label.focus{
  /* top: -40px !important; */
  color: transparent;
}

/* Material Button */
.materialButton{
  width: 100%;
  display: inline-block;
  padding: 15px;
  outline: none;
  background-color: black;
  color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  border: none;
  cursor: pointer;
  border-radius: 13px;
  
}
.materialButton .title{
  font-family: Salsa;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}
.materialButton:hover{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
}

/* Material dropdown */
.headerDropdownContainer{
    position: relative;
    display: inline-block;
}
.firstmenu{
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }
.dropdown{
  right: 50%;
  position: absolute;
  width: 240px;
  background: #fff;
  transform: translateX(50%);
  box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
  border-radius: 2px;
  z-index: 1;
  margin-top: 12px;
  display: none;
}
.headerDropdownContainer:hover .dropdown{
    display: block;
  }
  .upArrow{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .headerDropdownMenu{
    margin: 0;
    padding: 0;
  }
  .headerDropdownMenu li{
    list-style: none;
  }
  .headerDropdownMenu li a{
    display: block;
    padding: 15px 20px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    color: #212121;
    text-decoration: none;
  }
  .headerDropdownMenu li a:hover{
    background-color: #f0f0f0;
    cursor: pointer;
  }
  .breed{
    height: 20px;
    margin-left: 157px;
    font-family: Salsa;
  }
  .breed ul{
    padding: 0;
    margin: 10px 20px;
    display: flex;
    align-items: center;
}
.breed ul li{
    list-style: none;
    margin-right: 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-family: Salsa;
}
.breed ul li a{
    font-family: Salsa;
    text-decoration: none;
    color: #777;
    display: inline-block;
    font-size: 12px;
    margin: 0 10px;
}
.breed ul li a:hover{
  color: black;
}